body {
  min-height: 600px;
  height: 100vh;
  width: 525px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  padding: 1em;
}
a,
a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: auto;
  max-width: 100%;
  padding: 0 1em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
}
p {
  font-family: "Abel";
  font-size: 1.2em;
}

.vertical {
  vertical-align: -webkit-baseline-middle;
}

.noborder {
  border-radius: 0px;
  border: none;
}
/* NAME AND SETTINGS */
.pink {
    color: #fc7ab1;
}
.green {
  color: #449d44;
}
.blue {
  color: #54a9ff;
}
.white {
    color: #ffffff;
}
.gray {
    color: #bababa;
}
.settings-container {
  display: inline-block;
}

.img-circle {
  width: 9.8%;
  display: inline-block;
}
.welcome {
  display: inline-block;
}
.settings {
  padding: 0.7em;
  color: #bababa;
  transition: 300ms;
}
.settings:hover {
  color: inherit;
  font-size: 1.01em;
}
/* END NAME AND SETTINGS */

/* buttons */
.btn-primary {
  background: #fc7ab1;
  border: none;
  color: #141e30;
  font-weight: 700;
  border-radius: 0;
  transition: 300ms;
}
.btn-primary:hover {
    background: #54a9ff;
    color: #141e30;
}

.btn-success {
    background: #449d44;
    border: none;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0;
    text-shadow: 1px 1px #141e30;
    transition: 300ms;
  }
  .btn-success:hover {
      background: #fc7ab1;
  }

/* DATES */
.dates-container {
  margin-top: .8em;
  background: rgba(0, 0, 0, 0.3);
  padding: 1em;

}

/* teacher's email  */

.tEmail-container {
    background: rgba(0, 0, 0, 0.3);
    margin-top: .8em;
    padding: 1em;
}

input[type="text"] {
    background-color: #141e30;
    color: #bababa;
    padding: .5em 1em;
    border: 1px solid #ffffff;
    border-right: none;

}
input[type="submit"] {
    background-color: #449d44;
    color: #ffffff;
    text-shadow: 1px 1px #141e30;
    padding: .5em 1em;
    border: 1px solid #ffffff;
    border-left: none;
    margin-left: -5px;
    font-weight: 700;
    transition: 300ms;
}
input[type="submit"]:hover {
    background: #fc7ab1;
}

/* additional features */
.feature-container {
    padding: 1em;
    margin-top: .8em;
    background: rgba(0, 0, 0, 0.3);
}

/* course status */
.status-container {
    background: rgba(0, 0, 0, 0.3);
    height: 230px;
    margin-top: .8em;
    padding: .8em;

}
.hiddenSpace {
    opacity: 0;
}

/* status  */

.statusHeadline {
    border-bottom: 1px solid #fc7ab1;
    text-shadow: 1px 1px #141e30;
    width: 60%;
    margin: auto;
}
ul {
    list-style: none;
}